{{#each novedades}}
 <div style="text-align: center; margin: 70px;  ">
   <li class="link"><img src="{{imagen}}" style="object-fit: scale-down;">
    <h3><a href="javascript:void(0)" data-toogle="modal" data-targert="modal{{id}}">{{titulo}}</a><br></h3>
   </li>
 </div>
{{/each}}
